@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik&display=swap'); */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: 'Rubik', sans-serif; */
}

.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.hero-height {
  min-height: 750px;
}

.features_gradient-wrapper {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  filter: blur(var(--gradient-blur-radius, 100px));
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
}

.features_gradient {
  position: absolute;
  border-radius: 100%;
  opacity: 0.4;
  mix-blend-mode: screen;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
  animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}

.features_gradient-1 {
  /* background-color: tan; */
  width: 700px;
  height: 700px;
  z-index: -2;
  left: 60%;
  top: 40%;
  mix-blend-mode: lighten;
  -webkit-animation-duration: 11s;
  animation-duration: 11s;
  -webkit-animation-name: features_gradient-1;
  animation-name: features_gradient-1;
}

.features_gradient-2 {
  /* background: violet; */
  width: 600px;
  height: 600px;
  z-index: -1;
  left: 40%;
  top: 60%;
  -webkit-animation-duration: 11s;
  animation-duration: 11s;
  -webkit-animation-name: features_gradient-2;
  animation-name: features_gradient-2;
  animation-direction: reverse;
}

.features_gradient-3 {
  /* background-color: orange; */
  width: 500px;
  height: 500px;
  z-index: -3;
  left: 50%;
  top: 50%;
  -webkit-animation-duration: 11s;
  animation-duration: 11s;
  -webkit-animation-name: features_gradient-3;
  animation-name: features_gradient-3;
}

@keyframes features_gradient-1 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
      rotate(80deg) translateX(30%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
      rotate(240deg) translateX(15%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
  }
}

@keyframes features_gradient-2 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
      rotate(110deg) translateX(-5%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
      rotate(300deg) translateX(-10%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
  }
}

@keyframes features_gradient-3 {
  0% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%)
      translateY(10%);
  }
  20% {
    transform: translateY(-50%) translateX(-50%) translateX(20%)
      translateY(-30%);
  }
  40% {
    transform: translateY(-50%) translateX(-50%) translateX(-25%)
      translateY(-15%);
  }
  60% {
    transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
  }
  80% {
    transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%)
      translateY(10%);
  }
}
